<!-- you can see image transitions over here and then select which one you like -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <img src="{{address}}" alt="display.error" />
      <!-- the approach is to make a for loop that accesses all the 
        six images from the dictionary and display them all one 
        by one in a sequence with a download button -->
    </center>
  </body>
</html>
